

.carousel-window{
    position : relative;
    top: 5%;
    left: 21%;
    width: 60%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.carousel-window > .carousel-images{
height: 30%;
width: 100%;
overflow: hidden ;
display : flex;
scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
   box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
.carousel-navigation{
    display:flex;
}
.carousel-navigation > .navigation-pointer{
    margin : 0.2rem;
    width: 1rem;
    height: 1rem;
    background: white;
    
    align-items: center;
    color : black;
    border-radius: 50%;
  
    text-decoration: none;
}
.carousel-navigation > .navigation-pointer > a{
    text-decoration: none;
    color : black;
}