.cart-display {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: transparent;
  width: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  top: -25%;
  /* top: 30%; */
  left: 13.6%;
}
.cart-display > .item {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  width: 95%;
  height: 20rem;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid black;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
}
.cart-display > .item > .product-card {
  padding: 10px;
  height: 90%;
  width: 28%;

  margin-bottom: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.cart-display > .item > .product-card > .open-product {
  position: absolute;
  height: 1.7rem;
  width: 1.7rem;
  top: 2%;
  left: 2%;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.cart-display > .item > .product-card > .add-to-wishlist {
  height: 1.7rem;
  width: 1.7rem;
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.cart-display > .item > .product-card > .shoe-image {
  margin-top: 1rem;
  width: 100%;
  height: 85%;
  background-color: transparent;
}
.cart-display > .item > .product-card > .info {
  margin-bottom: 1rem;
}
.cart-display > .item > .product-card > .add-to-cart {
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  background-color: transparent;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.cart-display > .item > .product-card .quantity-manipulator {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.loader {
  display: block;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;

  margin: 5rem auto;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.item-discription {
  margin-left: 0.5rem;
  width: 28%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.item-discription > div {
  font-size: 1.3rem;
}
.item-price-calculation {
  margin-left: 0.5rem;
  width: 28%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.item-price-calculation > div {
  font-size: 1.3rem;
}
.total-ammount {
  margin-top: 0.5rem;
  display: block;
  height: 2rem;
  width: 100%;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid black;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tatal-ammount > div {
  padding: 0.5rem;
}
